.navbar {
  padding-block: 1em;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.navbar > img {
  padding-inline: 1em;
}
.navbar > a {
  width: fit-content;
  padding: 1.5em;
  background-color: var(--secondary-color);
  border-radius: 1em;
  margin-inline: 0.5em;
}
.navlinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
