#ArticleForm {
  /* border: 0.4em solid var(--nav-link-border); */
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  background-color: var(--secondary-color);
}

.ArticleForm-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

.ArticleForm-heading {
  grid-column: 1/-1;
  font-weight: 600;
}

.ArticleForm-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.ArticleForm-label {
  width: 100%;
}

.ArticleForm-input {
  width: 100%;
  padding: 0.8em 0;
  outline-color: var(--nav-link-border);
}
