#volumes-panel-all {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
#volumes-panel-all .volume-box {
  flex: 1 0 30%;
  background-color: var(--secondary-color);
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 6px 6px 6px rgba(92, 92, 92, 0.164);
}
.volume-box-content {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--nav-link-border);
}
#volumes-panel-all .volume-box h2 {
  background-color: var(--secondary-color);
  padding: 0.75em;
  font-weight: 500;
}
#volumes-panel-all .issues-list {
  max-height: 10em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-weight: 500;
  font-size: 1.25em;
  width: 100%;
}
#volumes-panel-all .issues-list a {
  text-decoration: none;
  border-radius: 0.2em;
  display: flex;
  cursor: pointer;
  padding: 0.5em;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.3s;
  color: black;
}
#volumes-panel-all .issues-list a:visited {
  color: black;
}
#volumes-panel-all .issues-list a:hover {
  background-color: var(--nav-link-border);
}
