.Form-Response {
  position: absolute;
  top: 50%;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 1em;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 2em;
  border: 0.1em solid var(--nav-link-border);
}
.Form-Response .form-response_btns {
  display: flex;
  gap: 2em;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100vh;
  backdrop-filter: blur(0.2em);
}
