.form_Tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 80%;
  padding-block: 2em;
}
.form_Tab .go_back {
  align-self: flex-start;
}
#ArticleForm {
  border: 0.15em solid var(--nav-link-border);
  border-radius: 1em;
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  background-color: var(--secondary-color);
}
#ArticleForm .ArticleForm-ArticleInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
#ArticleForm .ArticleForm-heading,
#ArticleForm .ArticleForm-subheading {
  grid-column: 1/-1;
  font-weight: 600;
}
#ArticleForm .ArticleForm-subheading {
  display: flex;
  align-items: center;
}
#ArticleForm .ArticleForm-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}
#ArticleForm .ArticleForm-group label {
  width: 100%;
}
#ArticleForm .ArticleForm-input {
  width: 100%;
  padding: 0.8em 0;
  outline-color: var(--nav-link-border);
}
#ArticleForm textarea {
  background-color: var(--white);
  border: 0.02em solid var(--black);
  /* outline-color: var(--nav-link-border); */
}
#ArticleForm .ArticleForm-input[type="number"]::-webkit-inner-spin-button,
#ArticleForm .ArticleForm-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#ArticleForm .ArticleForm-input[type="number"] {
  appearance: textfield;
}
#ArticleForm .ArticleForm-input[type="file"]::-webkit-file-upload-button {
  padding: 0.5em 1.8em;
  border-radius: 0.5em;
  border: 0.1em solid var(--nav-link-border);
  background-color: var(--white);
  cursor: pointer;
  color: var(--black);
  font-weight: 600;
}
#ArticleForm .ArticleForm-label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#ArticleForm .ArticleForm-group label > div {
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
}
#ArticleForm .ArticleForm-ArticleInfo:first-child .ArticleForm-group {
  grid-column: 1/-1;
}
#ArticleForm > .ArticleForm-group {
  flex-direction: row;
  align-items: center;
}

#ArticleForm
  .ArticleForm-ArticleInfo:nth-child(2)
  .ArticleForm-group:nth-child(3) {
  grid-row: 3/4;
  grid-column: 1/-1;
}

#ArticleForm textarea:focus {
  border: 0.1em solid var(--nav-link-border);
}
#ArticleForm .ArticleForm-readytopublish {
  display: flex;
  gap: 1em;
}

#ArticleForm .form-btn {
  background-color: var(--black);
  border-radius: 0.5em;
  padding-inline: 1.25em;
  padding-block: 0.75em;
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
  border: none;
  white-space: nowrap;
  max-width: max-content;
}
.ArticleForm-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}
@media (max-aspect-ratio: 1/1), (max-width: 900px) {
  #ArticleForm .ArticleForm-ArticleInfo {
    grid-template-columns: 1fr;
  }
}
