.panel_link {
  padding: 0 0.5em;
  border-radius: 0.5em;
  background-color: transparent;
  color: var(--White);
  transition: all 0.3s ease;
  font-weight: 600;
}
.panel_link:hover {
  cursor: pointer;
}
