.Unpublish_article .redacted {
  font-weight: 700;
  color: red;
}

.Unpublish_article .article_info-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}
.Unpublish_article {
  border: 0.1em solid var(--nav-link-border);
  border-radius: 0.5em;
  width: 80%;
  padding: 2em;
  margin-inline: auto;
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1em;
}
.Unpublish_article h2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 1px;
}
.Unpublish_article .authors {
  font-size: 1.25em;
  font-weight: 600;
}
.Unpublish_article .abstract h3 {
  font-weight: 600;
}
.Unpublish_article .abstract {
  line-height: var(--content-line-height);
  text-align: justify;
}
.Unpublish_article .details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.Unpublish_article .details h3 {
  font-weight: 600;
}
.Unpublish_article .details .stats {
  display: flex;
  flex-direction: column;
  gap: 0.35em;
}
.Unpublish_article .details .stats > div {
  display: grid;
  grid-template-columns: 10em 1fr;
}
.Unpublish_article .details .stats > div h5 {
  font-weight: 500;
}
