#MultipleSelect {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  background-color: var(--white);
  padding: 0.8em;
  border: 0.01em solid var(--black);
  border-radius: 0.2em;
}
#MultipleSelect input {
  flex: 1;
  border: none;
  outline: none;
}
#MultipleSelect > div {
  display: flex;
  align-items: center;
  gap: 0.7em;
  border-radius: 0.2em;
  background-color: var(--secondary-color);
  /* background-color: var(--nav-link-border); */
}
#MultipleSelect img {
  width: 0.7em;
  cursor: pointer;
}
#MultipleSelect .MultipleSelect-addbtn {
  font-weight: 700;
  padding: 0.1em 0.3em;
  cursor: pointer;
  background-color: var(--nav-link-border);
  color: var(--black);
  border: 0.1em solid var(--nav-link-border);
  /* border-color: var(--nav-link-border); */
}
#MultipleSelect .MultipleSelect-btns {
  margin-left: auto;
}
