#error {
  margin-block: 2em;
  width: 80%;
  padding: 5em;
  border: 0.15em solid var(--nav-link-border);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

#error h1 {
  font-size: 4em;
  font-weight: 500;
}
#error h1,
#error h2,
#error p {
  text-align: center;
}

#error p {
  width: 80%;
  font-size: 1.5em;
  padding-block: 1em;
}

@media (max-aspect-ratio: 1/1), (max-width: 900px) {
  #error {
    margin-inline: 1em;
    padding: 1em;
  }

  #error h1 {
    font-size: 3em;
  }

  #error p {
    width: 100%;
    padding-block: 0.75em;
  }
}
