#secondary_author-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.AuthorInfo-minus {
  display: flex;
  align-items: center;
  gap: 1em;
}
.AuthorInfo-minus > div {
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
