#TrashContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 1em;
  border-radius: 1em;
  border: 0.15em solid var(--nav-link-border);
  background-color: var(--white);
}
#TrashContainer h2 {
  font-weight: 600;
  text-align: center;
  color: var(--nav-link-border);
}
