/* @font-face {
  font-family: "Open Sans", sans-serif;
  src: url("./assets/fonts/OpenSans-Light.woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("./assets/fonts/OpenSans-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("./assets/fonts/OpenSans-Medium.woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("./assets/fonts/OpenSans-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("./assets/fonts/OpenSans-Bold.woff2");
  font-style: normal;
  font-weight: 700;
} */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}
#root {
  --white: #fff;
  --black: #000;
  --primary-color: #e2eafc;
  --secondary-color: #d7e3fc;
  --btn-hover: #0d1821;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.4em;
  background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondary-color);
  border-radius: 2em;
}

@media only screen and (min-width: 1920px) {
  body {
    font-size: 18px;
    width: 1920px;
  }
}
@media only screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
}
