#notfound {
  padding: 2em;
  text-align: center;
  position: relative;
}
#notfound .notfound-heading {
  font-size: 10em;
  font-weight: 700;
}
#notfound .notfound-subHeading {
  font-weight: 700;
  font-size: 2em;
}
#notfound .notfound-que {
  z-index: -1;
  position: absolute;
  font-size: 6em;
  font-weight: 700;
  bottom: 50%;
  right: 10%;
  color: var(--primary-color);
  animation: quesanimation 5s infinite ease-in-out;
}

@keyframes quesanimation {
  0%,
  100% {
    transform-origin: bottom;
    transform: rotate(220deg);
  }
  50% {
    transform-origin: bottom;
    transform: rotate(140deg);
  }
}
